//Section:HEADER
@header-menu-current-item-border-top-color   : #e23f3f;//Menu border top color::#e23f3f:color
@header-menu-link-color-default              : #282828;//Menu item color:Menu link color:#e23f3f:color
@header-menu-link-color-hover                : @c-black;//Menu item color on hover:Menu link color on hover:#000:color
@header-menu-link-color-current              : @c-black;//Menu current item color:Menu active link color:#000:color
@header-search-submit-bg-color               : #e23f3f;//Search button background color::#000:color
@header-menu-current-item-border-top-size     : 2px;//Header Current item top size::2px:size-px:0:42:1
@header-menu-link-size                        : @fs-m;//Header Link Size::1.4rem:size-rem:0:5:0.1

//Section:CONTENT
@content-linck                               : @c-blue;//Content Links Color::#2b7aa7:color
@content-icon-color                          : @c-light-blue;//Content Icons Color::#45DDEF:color
@content-border-button-dark-backgroun-color  : @c-light-blue;//Content dark button background Color::#45DDEF:color
@content-border-button-white-backgroun-color : #fff;//Content white button background Color::#fff:color
@content-section-separator-color             : #e86565;//Section separator color Color::#e86565:color
@content-section-grey-separator-color        : #efefef;//Section separator(grey) color Color::#efefef:color
//Section:background color
@content-showCase-background-color         : @c-light-blue;

//Section:showCase title styles
@content-showCase-tittle-color             : @c-white;
@content-showCase-tittle-font-size         : 2.5rem;
@content-showCase-tittle-font-weight       : 100;

@content-showCase-content-color            : @c-black;
@content-showCase-content-font-size        : 1.3rem;
@content-showCase-content-font-weight      : 400;

//Section:list style
@arrow_list_color                          : @c-light-blue;//color for arrow  Color::#45ddef:color
@content-icon-list-color                   : #e86565;//color for icons(icon list block) Color::#e86565:color